<nav>
  <%= link_to lists_path do %>
    <%= image_tag "movies.svg", alt: "My lists", width: 40 %>
    <span>My lists</span>
  <% end %>
  <%= link_to "Add a list", new_list_path, class: 'btn btn-dark' %>
</nav>
<div class="roll"></div>